@CHARSET "UTF-8";
/*게시판 제목글씨*/
.subfont {
 	font-weight: bolder;
	font-size: 45px;
	font-family: 'Bad Script', cursive;
  	color:#FFB700;
  	margin-left:50px;
}
.qna{
	margin: 0 auto;
	text-align:center
}

.content .insert a.button{margin-left:50%; margin-bottom:5px}
.content .multi a.button{margin-bottom:5px}

.qna .thead th{*zoom:1;}
.qna .thead th:after{content:' '; display: block; clear:both;}
.qna .thead th{float:left; line-height:28px; color:#363636; font-size:0.9em; font-weight:bold; text-align:center; background:url(../img/bg_th.gif) repeat-x 0 100%; border-top:#d54e4e solid 2px;}

.qna .tbody th{*zoom:1;}
.qna .tbody th:after{content:' '; display: block; clear:both;}
.qna .tbody td{float:left; line-height:40px; text-align:center; border-bottom:1px dotted #ccc;}

.qna .tbody td.cel02{/*padding-left:5px;*/ text-align:left;}
.qna .tbody td.cel02 a{margin-left:5px;} /*표에 붙는 글씨간격 띄우기*/

.reply{color:red; font-weight: bolder; font-size:10pt}

/* 아이콘 이미지 정렬 */
.iconNotice, .iconFile{display:block; height:40px;}
.iconNotice img, .iconFile img{margin-top:10px;}


/* 페이징 */
.qna .tfoot td{text-align:center; line-height:140px;}
.paging{font-size:1.1em; text-align:center}
.paging a{display:inline-block; padding:1px 4px;}
.paging a.active{color:#d54e4e; font-weight:bold;}
.paging a.qnaBtn{vertical-align:-3px; border:0}


